  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      D s k I m g    D I A L O G S    (C)  ST-Open 2012
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           THE CONTENT OF THIS FILE IS SUBJECT TO THE TERMS OF THE FT4FP-LICENSE
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     You may copy and distribute this file as often as you want, but recipients are not
     allowed to pay anything for any copy of this file or its content. It isn't allowed
     to abuse its copyrighted content or introduced techniques for commercial purposes.
     Whatever is derived from this file or its content must be freely available without
     charge.

     You are free to modify the content of this file if you want to. However, derivates
     of the content of this file or parts of it *still* are subject to the terms of the
     FT4FP license. Recipients neither are allowed to pay anything for the original nor
     for altered or derived replica.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           FREE THOUGHT FOR FREE PEOPLE (FT4FP) - KEEP CASH AWAY FROM KNOWLEDGE!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  #include <windows.h>
  #include <commctrl.h>
  #include "..\\..\\..\\DLG\\olh.dlg"
  #include "..\\..\\..\\DLG\\hed.dlg"
  #include "..\\..\\..\\DLG\\msg.dlg"
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                     R E S O U R C E S

    1000...100F   external resources
    1010...10BF   main menu                                                    0000-0027
    10C0...10FF   dialog IDs
    1100...1166   target selection                                             0070-007A
    1180...1187   write image                                                  0080-009B
    11C0...11C9   STglue                                                       00A0-00A9
    1200...121F   about box                                                    0060-0063
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  0x1005 ICON   "..\\auxi\\dim.ico"
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                     M A I N   M E N U
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  STmenu MENU
  BEGIN
   POPUP "0"                             # 00   01
    BEGIN
     POPUP    "1"                        # 01   01
      BEGIN
       MENUITEM "0",         0x1019      # 02   00
       MENUITEM "1",         0x101A      # 03   00
       MENUITEM "2",         0x101B      # 04   00
       MENUITEM "3",         0x101C      # 05   00
       MENUITEM "4",         0x101D      # 06   00
       MENUITEM "5",         0x101E      # 07   00
       MENUITEM "6",         0x101F      # 08   00
       MENUITEM "7",         0x1020      # 09   00
       MENUITEM "8",         0x1021      # 0A   00
       MENUITEM "9",         0x1022      # 0B   00
       MENUITEM "A",         0x1023      # 0C   00
       MENUITEM "B",         0x1024      # 0D   00
       MENUITEM "C",         0x1025      # 0E   00
       MENUITEM "D",         0x1026      # 0F   00
       MENUITEM "E",         0x1027      # 10   00
       MENUITEM "F",         0x1028      # 11   00
      END                                # 12   FF
     MENUITEM SEPARATOR                  # 13   0F
     MENUITEM "0",           0x100D      # 14   00
    END                                  # 15   FF
   POPUP "2"                             # 16   01
    BEGIN
     MENUITEM "0",           0x100E      # 17   00
     MENUITEM "1",           0x100F      # 19   00
     MENUITEM SEPARATOR                  # 18   0F
     MENUITEM "2",           0x1010      # 1A   00
     MENUITEM "3",           0x1011      # 1B   00
    END                                  # 1C   FF
   POPUP "3"                             # 1D   01
    BEGIN
     MENUITEM "0",           0x1012      # 1E   00
     MENUITEM "1",           0x1013      # 1F   00
     MENUITEM "2",           0x1014      # 20   00
    END                                  # 21   FF
   POPUP "4"                             # 1D   01
    BEGIN
     MENUITEM "0",           0x1015      # 1E   00
     MENUITEM "1",           0x1016      # 1F   00
     MENUITEM "2",           0x1017      # 20   00
    END                                  # 21   FF
  END                                    # 22   FF
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                          A B O U T
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  0x10C0  DIALOG PRELOAD DISCARDABLE   0,   0, 200, 100
  STYLE DS_3DLOOK | WS_CAPTION | WS_POPUP | WS_VISIBLE
  CAPTION "About..."
  FONT    11, "Consolas"
  BEGIN
   ICON            0x1005,   0xFFFF,  90,  10,  32,  32
   CTEXT           "",       0x1202,   5,  48, 190,  10
   CTEXT           "",       0x1203,   5,  60, 190,  10
   PUSHBUTTON      "",       0x1210,  70,  82,  60,  14
  END
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                 S E L E C T    T A R G E T
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  0x1100 DIALOG PRELOAD DISCARDABLE    0,   0, 465, 210
  STYLE DS_3DLOOK | WS_CAPTION | WS_POPUP | WS_VISIBLE
  CAPTION ""
  FONT 10, "Consolas"
  BEGIN
   CTEXT           "",       0x1160,   5,   5,  40,   8
   CTEXT           "",       0x1161,  50,   5,  60,   8
   CTEXT           "",       0x1162, 115,   5,  80,   8
   CTEXT           "",       0x1163, 200,   5,  35,   8
   CTEXT           "",       0x1164, 240,   5,  35,   8
   CTEXT           "",       0x1165, 280,   5,  50,   8
   CTEXT           "",       0x1166, 335,   5, 120,   8
   AUTORADIOBUTTON "",       0x1104,   5,  19,  40,  10, WS_GROUP | WS_TABSTOP
   EDITTEXT                  0x1110,  50,  18,  60,  12, ES_LEFT
   EDITTEXT                  0x1111, 115,  18,  80,  12, ES_RIGHT
   EDITTEXT                  0x1112, 200,  18,  35,  12, ES_RIGHT
   EDITTEXT                  0x1113, 240,  18,  35,  12, ES_RIGHT
   EDITTEXT                  0x1114, 280,  18,  50,  12, ES_RIGHT
   EDITTEXT                  0x1115, 335,  18, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x1105,   5,  35,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1118,  50,  34,  60,  12, ES_LEFT
   EDITTEXT                  0x1119, 115,  34,  80,  12, ES_RIGHT
   EDITTEXT                  0x111A, 200,  34,  35,  12, ES_RIGHT
   EDITTEXT                  0x111B, 240,  34,  35,  12, ES_RIGHT
   EDITTEXT                  0x111C, 280,  34,  50,  12, ES_RIGHT
   EDITTEXT                  0x111D, 335,  34, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x1106,   5,  50,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1120,  50,  49,  60,  12, ES_LEFT
   EDITTEXT                  0x1121, 115,  49,  80,  12, ES_RIGHT
   EDITTEXT                  0x1122, 200,  49,  35,  12, ES_RIGHT
   EDITTEXT                  0x1123, 240,  49,  35,  12, ES_RIGHT
   EDITTEXT                  0x1124, 280,  49,  50,  12, ES_RIGHT
   EDITTEXT                  0x1125, 335,  49, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x1107,   5,  66,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1128,  50,  65,  60,  12, ES_LEFT
   EDITTEXT                  0x1129, 115,  65,  80,  12, ES_RIGHT
   EDITTEXT                  0x112A, 200,  65,  35,  12, ES_RIGHT
   EDITTEXT                  0x112B, 240,  65,  35,  12, ES_RIGHT
   EDITTEXT                  0x112C, 280,  65,  50,  12, ES_RIGHT
   EDITTEXT                  0x112D, 335,  65, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x1108,   5,  82,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1130,  50,  81,  60,  12, ES_LEFT
   EDITTEXT                  0x1131, 115,  81,  80,  12, ES_RIGHT
   EDITTEXT                  0x1132, 200,  81,  35,  12, ES_RIGHT
   EDITTEXT                  0x1133, 240,  81,  35,  12, ES_RIGHT
   EDITTEXT                  0x1134, 280,  81,  50,  12, ES_RIGHT
   EDITTEXT                  0x1135, 335,  81, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x1109,   5,  98,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1138,  50,  97,  60,  12, ES_LEFT
   EDITTEXT                  0x1139, 115,  97,  80,  12, ES_RIGHT
   EDITTEXT                  0x113A, 200,  97,  35,  12, ES_RIGHT
   EDITTEXT                  0x113B, 240,  97,  35,  12, ES_RIGHT
   EDITTEXT                  0x113C, 280,  97,  50,  12, ES_RIGHT
   EDITTEXT                  0x113D, 335,  97, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x110A,   5, 114,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1140,  50, 113,  60,  12, ES_LEFT
   EDITTEXT                  0x1141, 115, 113,  80,  12, ES_RIGHT
   EDITTEXT                  0x1142, 200, 113,  35,  12, ES_RIGHT
   EDITTEXT                  0x1143, 240, 113,  35,  12, ES_RIGHT
   EDITTEXT                  0x1144, 280, 113,  50,  12, ES_RIGHT
   EDITTEXT                  0x1145, 335, 113, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x110B,   5, 130,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1148,  50, 129,  60,  12, ES_LEFT
   EDITTEXT                  0x1149, 115, 129,  80,  12, ES_RIGHT
   EDITTEXT                  0x114A, 200, 129,  35,  12, ES_RIGHT
   EDITTEXT                  0x114B, 240, 129,  35,  12, ES_RIGHT
   EDITTEXT                  0x114C, 280, 129,  50,  12, ES_RIGHT
   EDITTEXT                  0x114D, 335, 129, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x110C,   5, 146,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1150,  50, 145,  60,  12, ES_LEFT
   EDITTEXT                  0x1151, 115, 145,  80,  12, ES_RIGHT
   EDITTEXT                  0x1152, 200, 145,  35,  12, ES_RIGHT
   EDITTEXT                  0x1153, 240, 145,  35,  12, ES_RIGHT
   EDITTEXT                  0x1154, 280, 145,  50,  12, ES_RIGHT
   EDITTEXT                  0x1155, 335, 145, 125,  12, ES_RIGHT
   AUTORADIOBUTTON "",       0x110D,   5, 162,  40,  10, WS_TABSTOP
   EDITTEXT                  0x1158,  50, 161,  60,  12, ES_LEFT
   EDITTEXT                  0x1159, 115, 161,  80,  12, ES_RIGHT
   EDITTEXT                  0x115A, 200, 161,  35,  12, ES_RIGHT
   EDITTEXT                  0x115B, 240, 161,  35,  12, ES_RIGHT
   EDITTEXT                  0x115C, 280, 161,  50,  12, ES_RIGHT
   EDITTEXT                  0x115D, 335, 161, 125,  12, ES_RIGHT
   PUSHBUTTON      "",       0x1101,  50, 184,  90,  18, WS_TABSTOP
   PUSHBUTTON      "",       0x1102, 150, 184,  90,  18, WS_TABSTOP
   PUSHBUTTON      "",       0x1103, 370, 184,  90,  18, WS_TABSTOP
  END
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                   W R I T E    I M A G E
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  0x1180 DIALOG PRELOAD DISCARDABLE    0,   0, 260, 176
  STYLE DS_3DLOOK | WS_CAPTION | WS_POPUP | WS_VISIBLE
  CAPTION ""
  FONT 10, "Consolas"
  BEGIN
   PUSHBUTTON      "",       0x1181,   5, 152,  80,  18
   PUSHBUTTON      "",       0x1182,  90, 152,  80,  18
   PUSHBUTTON      "",       0x1183, 175, 152,  80,  18
   LTEXT           "",       0x1185,  10,   6, 110,   8
   EDITTEXT                  0x1184, 125,   4, 130,  12, ES_READONLY
   LTEXT           "",       0x1186,  10,  26, 110,   8
   LTEXT           "",       0x1187, 125,  26,  60,   8
   LTEXT           "",       0x1188, 190,  26,  65,   8
   LTEXT           "",       0x1189,  10,  40, 110,   8
   LTEXT           "",       0x118A, 125,  40,  60,   8
   LTEXT           "",       0x118B, 190,  40,  65,   8
   LTEXT           "",       0x118C,  10,  54, 110,   8
   LTEXT           "",       0x118D, 125,  54,  60,   8
   LTEXT           "",       0x118E, 190,  54,  65,   8
   LTEXT           "",       0x118F,  10,  68, 110,   8
   LTEXT           "",       0x1190, 125,  68,  60,   8
   LTEXT           "",       0x1191, 190,  68,  65,   8
   LTEXT           "",       0x1192,  10,  82, 110,   8
   LTEXT           "",       0x1193, 125,  82,  60,   8
   LTEXT           "",       0x1194, 190,  82,  65,   8
   LTEXT           "",       0x1195,  10,  96, 110,   8
   LTEXT           "",       0x1196, 125,  96,  60,   8
   LTEXT           "",       0x1197, 190,  96,  65,   8
   LTEXT           "",       0x1198,  10, 110, 110,   8
   LTEXT           "",       0x1199, 125, 110,  60,   8
   LTEXT           "",       0x119A, 190, 110,  65,   8
   CTEXT           "",       0x119B,  10, 130, 245,   8
  END
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                   W R I T E    I M A G E
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
  0x11C0 DIALOG PRELOAD DISCARDABLE    0,   0, 350, 305
  STYLE DS_3DLOOK | WS_CAPTION | WS_POPUP | WS_VISIBLE
  CAPTION ""
  FONT 10, "Consolas"
  BEGIN
   PUSHBUTTON      "",       0x11C1, 160,   5, 185,  14
   LTEXT           "",       0x11CA,   5,   8, 145,   8
   LISTBOX                   0x11C2,   5,  24, 340, 225, LBS_MULTIPLESEL | WS_VSCROLL | WS_TABSTOP
   PUSHBUTTON      "",       0x11C3,   5, 254, 110,  14
   PUSHBUTTON      "",       0x11C4, 120, 254, 110,  14
   PUSHBUTTON      "",       0x11C5, 235, 254, 110,  14
   PUSHBUTTON      "",       0x11C6,   5, 281, 110,  18
   PUSHBUTTON      "",       0x11C7, 120, 281, 110,  18
   PUSHBUTTON      "",       0x11C8, 235, 281, 110,  18
  END
  /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
